force-app/main/default/flows/Enrich_Lead_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Enterprise</name>
        <label>Enterprise</label>
        <locationX>402</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Company_Size_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>issuccess1</name>
        <label>issuccess</label>
        <locationX>489</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Mid_Market</name>
        <label>Mid Market</label>
        <locationX>566</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Company_Size_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mid-Market</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SMB</name>
        <label>SMB</label>
        <locationX>716</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Company_Size_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EvaluateCompanySize</name>
        <label>Evaluate Company Size</label>
        <locationX>576</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>SMB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Small</defaultConnectorLabel>
        <rules>
            <name>Large</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.NumberOfEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enterprise</targetReference>
            </connector>
            <label>Large</label>
        </rules>
        <rules>
            <name>Mid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.NumberOfEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mid_Market</targetReference>
            </connector>
            <label>Mid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Enrich Lead Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrich Lead Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>585</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EvaluateCompanySize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>548</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>issuccess1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Size_Bucket__c</field>
            <value>
                <elementReference>Get_Lead.Company_Size_Bucket__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Enriched__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
