force-app/main/default/flows/SAP_Check_Inventory_Flow_MCP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_SAP_Inventory</name>
        <label>get SAP Inventory</label>
        <locationX>608</locationX>
        <locationY>243</locationY>
        <actionName>SAPInventoryService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Inventory_Values_Assign</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sku</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SAPInventoryService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Inventory_Values_Assign</name>
        <label>Inventory Values Assign</label>
        <locationX>599</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>availableQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SAP_Inventory.availableQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadTimeDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SAP_Inventory.leadTimeDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>warehouseLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SAP_Inventory.warehouse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>MCP Agent Flow Calling Rest Resource</description>
    <environments>Default</environments>
    <interviewLabel>SAP Check Inventory Flow MCP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAP Check Inventory Flow MCP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_SAP_Inventory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>availableQty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadTimeDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warehouseLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
